<head>
  <!-- <link href="http://gmpg.org/xfn/11" rel="profile"> -->
  <!-- <meta http-equiv="content-type" content="text/html; charset=utf-8"> -->

  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"> -->

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  {% if page.url and site.baseurl %}
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  {% endif %}

  <!-- <link rel="stylesheet" href="{{ '/public/css/poole.css' | absolute_url }}"> -->
  <!-- <link rel="stylesheet" href="{{ '/public/css/syntax.css' | absolute_url }}"> -->
  <!-- <link rel="stylesheet" href="{{ '/public/css/lanyon.css' | absolute_url }}"> -->
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400"> -->

  <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/public/apple-touch-icon-precomposed.png' | absolute_url }}"> -->
  <!-- <link rel="shortcut icon" href="{{ '/public/favicon.ico' | absolute_url }}"> -->

  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ '/atom.xml' | absolute_url }}">



  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">

  <!-- <title></title> -->
  <link href="{{ '/public/icon.svg' | absolute_url }}" type="image/svg+xml" rel="icon">

  <meta name="description" content="">
  <meta name="viewport"    content="width=device-width, initial-scale=1, user-scalable=no">

  <meta property="og:title"        content="">
  <meta property="og:description"  content="">
  <meta property="og:type"         content="website">
  <meta property="og:url"          content="https://blog.5ay.it">
  <meta property="og:image"        content="https://blog.5ay.it/public/icon.png">
  <meta property="og:image:width"  content="">
  <meta property="og:image:height" content="">
  <meta property="fb:app_id"       content="">

  <meta name="apple-mobile-web-app-title"            content="">
  <meta name="apple-mobile-web-app-capable"          content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#366">
  <meta name="theme-color"                           content="#366">
  <meta name="msapplication-TileColor"               content="#366">
  <meta name="msapplication-TileImage"               content="https://blog.5ay.it/public/icon.png">

  <link  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"                 integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="                     crossorigin="anonymous"></script>

  <!-- Google Analytics - Global Site Tag (gtag.js) -->
  <script src="https://www.googletagmanager.com/gtag/js?id=G-VS5RCB2C7N" async></script>
  <script> window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push( arguments ); } gtag( 'js', new Date() ); gtag( 'config', 'G-VS5RCB2C7N' ); </script>

</head>
