<div     class="position-relative h-100">
  <div>
<!--<h5    class="_jc_void_text  fw-bold mb-3">5ay.it</h5>-->
    <a     class="_jc_void_text _jc_info_text_h text-decoration-none py-2 d-block" target="_blank" href="https://5ay.it"            >5ay.it </a>
    <a     class="_jc_void_text _jc_info_text_h text-decoration-none py-2 d-block" target="_blank" href="https://5ay.it/saas"       >SaaS   </a>
    <a     class="_jc_void_text _jc_info_text_h text-decoration-none py-2 d-block" target="_blank" href="https://docs.5ay.it/plugin">Plugin </a>
    <a     class="_jc_void_text _jc_info_text_h text-decoration-none py-2 d-block" target="_blank" href="https://docs.5ay.it"       >Docs   </a>
    <a     class="_jc_void_text _jc_info_text_h text-decoration-none py-2 d-block"                 href="https://blog.5ay.it"       >Blog   </a>
    <a     class="_jc_void_text _jc_info_text_h text-decoration-none py-2 d-block" target="_blank" href="https://github.com/5ayit"  >GiHub  </a>
    <a     class="_jc_void_text _jc_info_text_h text-decoration-none py-2 d-block" target="_blank" href="https://5ay.it/my/help"    >Contact</a>
  </div>
  <div     class="position-absolute     bottom-0     w-100">
    <small class="_jc_info_text d-block mt-4 py-1 text-end">{{ site.description }} · {{ site.version }}                    </small>
    <small class="_jc_info_text d-block      py-1 text-end">&copy; {{ site.time | date: '%Y' }} 5ay.it, all rights reserved.</small>
  </div>
</div>
