<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the content to avoid any CSS collisions with our real content. -->
    <div     class="wrap                  ">
      <div   class="masthead _jc_main_back">
        <div class="container px-4        ">

          <!-- <a class="navbar-brand fw-bold _jc_main_fill _jc_main_text _jc_void_fill_over _jc_void_text_over" href="/">
            <img class="d-inline-block" src="{{ '/public/icon.svg' | absolute_url }}" style="width: 24px; height: 24px;">
            {{ site.title }}
          </a> -->

          <h3      class="masthead-title                    text-center h5               ">
            <a     class="_jc_void_text_i _jc_info_text_h_i text-decoration-none fw-bold " title="Home" href="{{ site.baseurl }}/">{{ site.title   }}</a>
            <small class="_jc_info_text_i                                        ms-1    " style="font-size: 16px;"            >· {{ site.tagline }}</small>
          </h3>

          <!-- <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3> -->

        </div>
      </div>

      <div class="container content mx-0 px-4">{{ content }}</div>
    </div>

    <label class="sidebar-toggle p-1 bg-transparent _jc_void_text" for="sidebar-checkbox"></label>
    <style> .sidebar-toggle::before { background-size: 32px 32px !important; background-image: url( {{ '/public/icon_fff.svg' | absolute_url }} ) !important; } </style>

    <script src='{{ site.baseurl }}/public/js/script.js'></script>
  </body>
</html>
