---
layout: default
---

<h1  class="mb-3 pb-3 fw-bold border-bottom">{{ page.title                   }}</h1>
<div class="mb-4        text-end text-muted">{{ page.date | date: "%Y-%m-%d" }}</div>
                                             {{ content                      }}

{% if site.related_posts.size >= 1 %}
  <h5 class="border-top pt-3 mt-5">Related Posts</h5>
  <ul class="mb-0                ">

    {% for post in site.related_posts limit:3 %}
      <li       class="mb-1">
        <a      class="text-decoration-none" href="{{ site.baseurl }}{{ post.url }}">
          <span class="text-muted">{{ post.date | date: "%Y-%m-%d" }}</span> · {{ post.title }}
        </a>
      </li>
    {% endfor %}

  </ul>
{% endif %}

<style> li:last-child { margin-bottom: 0 !important; } </style>

<span class="mt-5 w-100 btn btn-lg btn-outline-light _jc_main_text _jc_void_text_h _jc_main_line _jc_main_back_h" role="button" onclick="window.history.go( -1 )">Back</span>

<div   class="mt-5 w-100 " style="height: 96px; max-height: 96px;">
  <ins class="adsbygoogle" style="display:inline-block;width:640px;height:96px" data-ad-client="ca-pub-6258476153977089" data-ad-slot="4176206709"></ins>
  <script> ( adsbygoogle = window.adsbygoogle || [] ).push( {} ); </script>
</div>
